
body{
    font-family: sans-serif;
}
a{
    text-decoration: none;
}

.nav__link{
    color: cornflowerblue ;
    font-size: 16px;
    line-height: 20px;
}

.title{
    font-size: 28px;
    color: #222222;
    line-height: 36px;
    font-weight: bold;
}
.text{
    font-style: normal;
    font-weight: 300;
    color: #7d7957;
    font-size: 18px;
    line-height: 30px;
}
.subtitle{
    font-style: normal;
    line-height: 80px;
    color: coral;
    font-size: 36px;
    font-weight: 700;
}
.about__foto{
    border-radius: 100px;
}
.form__input{
    width: 200px;
    height: 30px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 14px;
    line-height: 30px;
    font-family: serif;
}

.form__button{
    font-size: 14px;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid #ccc;
}