@media (max-width: 800px) {
	.preview {
		height: 363px;
		display: flex;
		align-items: center;
		justify-content: center;

		&__hide {
			display: none;
		}

		.highlighted-header {
			&__header {
				font-size: 36px;
			}
			&__sub-text {
				font-size: 20px;
			}
		}
	}
	.offer {
		&__container {
			padding-left: 16px;
			padding-right: 16px;
			flex-direction: column;
		}
	}

	.footer__container {
		padding: 20px;
		justify-content: center;
		flex-direction: column-reverse;
		align-items: center;
	}

	.offer {
		&__container {
			padding-left: 16px;
			padding-right: 16px;
			flex-direction: column;
		}

		&__item {
			min-width: auto;
		}
	}
}

@media (max-width: 375px) {
	.nav {
		&__hide {
			display: none;
		}
	}
	.menu {
		width: 100%;
	}
	.preview {
		height: 363px;
		display: flex;
		align-items: center;
		justify-content: center;

		&__hide {
			display: none;
		}

		.highlighted-header {
			&__header {
				font-size: 36px;
			}
			&__sub-text {
				font-size: 20px;
			}
		}
	}
	.offer {
		&__container {
			padding-left: 16px;
			padding-right: 16px;
			flex-direction: column;
		}

		&__item {
			min-width: auto;
		}
	}

	.featured-items {
		padding-top: 0;
	}

	.feature__items-container {
		flex-wrap: wrap;
	}

	.subscribe__container {
		gap: 60px;
		padding-top: 40px;
		padding-bottom: 120px;
	}

	.footer__container {
		padding: 20px;
		justify-content: center;
		flex-direction: column-reverse;
		align-items: center;
	}
}

@media (max-width: 1024px) {
	.header {
		height: 74px;
	}

	.promo__img {
		margin-left: -2.13%;
	}

	.promo__content__title {
		font-size: 24px;
		font-weight: 700;

		&__bold {
			font-size: 44px;
			font-weight: 900;
		}
	}

	.product-box__content {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
	}

	.advantages {
		padding-top: 48px;
		padding-bottom: 64px;
		padding-right: 26.56%;
		padding-left: 26.56%;
		display: flex;
		flex-direction: column;
		gap: 48.37px;

		&__item {
			margin: 0px;
			padding: 0px;
			height: auto;

			&__text {
				margin: 0px;
				padding: 0px;
			}
		}
	}

	.subscription {
		padding-top: 53.59px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;

		&__right {
			margin-bottom: 140px;
		}
	}

	.cart {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		margin-bottom: 192px;

		&__right {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: row;
			gap: 60px;
		}
	}

	.slider {
		&__img {
			max-width: 60%;
		}
	}
}

@media (max-width: 767px) {
	.header__left {
		margin-left: 4.267%;
	}

	.header__right {
		margin-right: 4.267%;
	}

	.header__right__link:nth-child(n + 2) {
		display: none;
	}

	.promo {
		height: 100vh;
		justify-content: center;

		&__img {
			display: none;
		}

		&__content {
			display: flex;
			align-items: center;
			justify-content: center;

			&__vertical_stripe {
				width: 12px;
				height: 61px;
			}

			&__title {
				font-size: 18px;
				font-weight: 700;

				&__bold {
					font-size: 36px;
					font-weight: 900;
				}
			}
		}
	}

	.sale {
		display: flex;
		gap: 32px;
		flex-direction: column;

		&__item__big {
			height: 111px;
			object-fit: cover;
			object-position: bottom;
		}
	}

	.product-box__content {
		display: flex;
		justify-content: center;
		gap: 32px;
		flex-direction: column;
		margin-left: 2.13%;
		margin-right: 2.13%;

		&__product {
			max-width: 358px;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
	}

	.advantages {
		padding-top: 48px;
		padding-bottom: 81px;
		padding-right: 3.45%;
		padding-left: 3.45%;
		display: flex;
		flex-direction: column;
		gap: 46.73px;

		&__item {
			margin: 0px;
			padding: 0px;
			height: auto;

			&__text {
				margin: 0px;
				padding: 0px;
			}
		}
	}

	.subscription {
		min-height: 693px;

		&__right {
			margin-bottom: 109.92px;

			&__title {
				font-size: 14px;
			}
		}
	}

	.cart {
		&__right {
			display: flex;
			flex-direction: column;
		}
	}

	.footer {
		height: 143px;
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
		justify-content: center;
		gap: 40px;
	}

	.top-head {
		display: flex;
		flex-direction: column;
		gap: 32px;
		margin-top: 24px;
		margin-bottom: 72px;
	}

	.filter {
		&__heading {
			display: none;
		}
	}

	.sorting {
		&__summary {
			font-size: 12px;
			font-weight: 400;
		}
	}

	.registration {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.slider {
		&__img {
			max-width: 100%;
			position: relative;
		}

		&__arrow_left {
			position: absolute;
			left: 1%;
			z-index: 2;
		}

		&__arrow_right {
			position: absolute;
			right: 1%;
		}
	}
}
