.top-head {
  min-height: 148px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top-head__heading {
  color: var(--color-secondary);
  font-size: 24px;
  font-weight: 400;
}
.top-head__breadcrumbs {
  display: flex;
  gap: 10px;
}
.top-head__breadcrumbs__link {
  color: black;
  font-size: 14px;
  font-weight: 300;
}
.top-head__breadcrumbs__link__bold {
  color: black;
  font-family: Lato;
  font-weight: 700;
}

.breadcrumbs__ul {
  list-style-type: none;
  display: flex;
}
.breadcrumbs__li:not(:last-child)::after {
  content: "/";
  padding-left: 8px;
  padding-right: 8px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}

.filter {
  padding-top: 13px;
  width: 360px;
  position: relative;
  z-index: 10;
}
.filter__content {
  background-color: white;
  padding: 0px 16px 16px;
}
.filter[open] {
  background: #fff;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}
.filter[open] .filter__heading {
  color: var(--color-secondary);
}
.filter[open] path {
  fill: var(--color-secondary);
}
.filter__summary {
  display: flex;
  align-items: center;
  gap: 11px;
  padding-left: 16px;
}
.filter__heading {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: var(--color-text-sub);
}
.filter__item {
  margin-top: 16px;
}
.filter__head {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
  padding: 8px 11px 11px 11px;
  border-bottom: 1px solid #ebebeb;
  border-left: 5px solid var(--color-secondary);
}
.filter__link-box {
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding: 24px 16px;
}
.filter__link {
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
}
.filter__link:hover {
  color: var(--color-secondary);
}
.filter__item[open] .filter__head {
  color: var(--color-secondary);
}

.sorting {
  padding-top: 12px;
  display: flex;
  gap: 18px;
}
.sorting__details {
  position: relative;
}
.sorting__summary {
  display: flex;
  align-items: center;
  gap: 10px;
}
.sorting__check {
  display: flex;
  gap: 9px;
  align-items: center;
}
.sorting__check {
  color: #6f6e6e;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
}
.sorting__heading {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
}
.sorting__box {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background: white;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  padding: 7px 30px 11px 9px;
  position: absolute;
  left: -9px;
  top: 22px;
}

.product-box__pages {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 96px;
  gap: 18px;
}
.product-box__pages__arrows:hover path {
  fill: var(--color-secondary);
}
.product-box__pages__link-box {
  display: flex;
  gap: 18px;
}
.product-box__pages__link-box__link {
  color: #C4C4C4;
  font-size: 16px;
  font-weight: 300;
}
.product-box__pages__link-box__link:hover {
  color: var(--color-secondary);
}
.product-box__pages__link-box__link_active {
  color: var(--color-text-main);
}/*# sourceMappingURL=catalog.css.map */